<!DOCTYPE html>
<html lang="en">
<head>
  <title>High Speed Ring Web Interface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<link rel="stylesheet href="static/style.css">

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		</div>
  <h1>High Speed Ring Interface Web Interface:</h1>
  <ul class="nav navbar-nav">      
      <li><a href="">Add/Delete Device</a>
      <li><a href="">Add/Delete Interface</a>
      <li><a href="">Update Device/Interface</a>
      <li><a href="">Log In</a>    
      <li><a href="">Log Out</a>
  </ul>
</nav>

<body>

<div class="container-fluid" id = "jsontree">
 <h3>10 Gig Ring Monitored Interfaces</h3> 
 <br>
 <!-- loop threw items in the list of dict's and sort them by the 0 index value aka router name.
      Need to look at json file format and maybe added name and interface keys
-->
 {% for key, value in data["devices"][0].items() | sort(attribute='0') %}
   <ul>
     <li>Name:<strong> {{key}} </strong></li> 
       <ol>interfaces: {{value}}</ol>
   </ul>   
 {% endfor %}
</div>

</script>
</body>
</html>